body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

a:link {
  color: rgb(70,130,180);
}
a:visited {
}
a:hover {
  color: #FFBA00;
}
a:active {
  color: #30597A;
}
#content {
  margin-left: 5em;
  margin-right: 8em;
  margin-top: 2ex;
}
#content_swish
{
  margin-left: 5em;
  margin-right: 8em;
  margin-top: -4em;
  font-size: 11px;
}
#content_swish small
{
  font-size: 11px;
  color: green;
}
#content_swish div.article
{
  font-size: 11px;
}
#content_swish dl.article
{
  font-size: 11px;
}

.boxtitle
{
  margin-bottom: -0.5em;
  font-size: large;
  color: rgb(70,130,180);
  font-family: verdana, helvetica, sans-serif;
  font-weight: bold;
}

.linktitle 
{
  font-size: 10pt;
  font-family: verdana, helvetica, sans-serif;
}

div.linktitle a img {
  margin-right: 1em;
}

.box
{
  margin-top: 1em;
  background-color: rgb(95%,95%,95%);
  border: 1px dotted rgb(70,130,180);
  padding: 5px;
  width: 98%;
}

.box:after
{
  content: "";
  display: block;
  clear: both;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 2px;

  color: rgb(70,130,180);
}

h3 + p, h3 + div.right + p {
  margin-top: 0px;
}

hr {
  width: 80%;
  height: 2px;

  margin-top: 1ex;

  border: none;
  border-top: 1px solid rgb(70,130,180);
  border-bottom: 1px solid lightgrey;
}


div.right
{
  text-align: right;
  margin-top: -1.1em;
}

.emph
{
  font-weight: bolder;
}

#trailright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  text-align: right;
  padding: 0;
  padding-right: 1%;
}

#trail {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  padding-top: 4px;
  padding-left: 1%;
}

#footer {
  padding: 0;
  padding-top: 1em;
  clear: both;
}

DIV.heading {
    height: 75px;
    position: relative;
}

SPAN.leftish {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
}

SPAN.middlish {
    position: absolute;
    top: 10px;
    right: auto;
    bottom: auto;
    left: 28%;
}

SPAN.rightish {
    position: absolute;
    top: 20%;
    right: 0;
    bottom: auto;
    left: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    width: 200px;
}

.no_margin {
    margin-top: 0;
}

.linktitle img {
    vertical-align: middle;
    border: none;
}

div.box ul {
    list-style-type: none;
}

.column_outer {
    position: relative;
}
.column_left {
    float: left;
    margin: 0 3em 0 1em;
}
.relative {
    font-size: 12;
    position: relative;
    height: 77px;
    width: 200px;
}

div.subhead {
    position: absolute;
    right: 30px;
    left: auto;
    bottom: 0px;
}
.floatinglink
{
  font-size: small;
  padding-left: 1em;
  padding-right: 0;
  width: 30%;
  float: left;
  min-height: 5.5em;
}

.floatinglink h3
{
  margin-top: 0px;
  padding-bottom: .6em;
}

.floatinglink li
{
  list-style-type: disc;
}

#no_float {
    clear: both;
}

#have_height2 {
    height: 1.5em;
    clear: both;
}

.article {
  font-size: 13px;
  padding-left: 1em;
  padding-right: 1em;
  min-height: 5.5em;
}

.article h3
{
  margin-top: 0px;
  padding-bottom: .6em;
}

form {
  margin: 0;
  padding: 0;
}
#start_here_table {
font-size: 12px;
}
#start_here_table ul {
  list-style-type: disc;
}
#start_here_table td {
  width: 33%;
  vertical-align: top;
  padding: 2px 1em;
  margin: 0;
}

.navbar {
    height: 14px;
    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /* margin: 0; */
    margin: 0.3em 0 0 0;
    color: #888888;
}

.navbar ul {
    padding: 0;
    margin: 0;
}
.navbar ul li {
    float: left;
    display: block;
    border-right: 1px dotted #666666;
    padding: 0 0.4em;
    margin: 0;
}
.navbar ul li.norightborder {
    border-width: 0;
}

.navbar ul li a {
}
.navbar .padright {
    padding-right: 0.3em;
}
padright form {
    /* /home/perlmeme/html/style */
    position: relative;
    z-index: 10;
}

.navbar a:link {
  color: rgb(70,130,180);
  text-decoration: none;
}
.navbar a:visited {
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar a:active {
  text-decoration: underline;
}

#heading_images_main {
  height: 100px;
  position: relative;
}

#heading_images_main #pm_org_main_logo {
  position: absolute;
  left: 50%;
  top: -18px;
  margin-left: -290px;
  z-index: 2;
}
#heading_images {
  height: 77px;
  position: relative;
}
#heading_images #pm_org_logo {
  position: absolute;
  left: 50%;
  top: -18px;
  margin-left: -154px;
}
#heading_images #pm_org_tutorials_logo {
  position: absolute;
  left: 50%;
  top: 27px;
  margin-left: 20px;
}
#heading_images #pm_org_start_here_logo {
  position: absolute;
  left: 50%;
  top: 27px;
  margin-left: 0px;
}
#heading_images #pm_org_faqs_logo {
  position: absolute;
  left: 50%;
  top: 27px;
  margin-left: 55px;
}
#heading_images #pm_org_howtos_logo {
  position: absolute;
  left: 50%;
  top: 27px;
  margin-left: 8px;
}
.link_images {
  margin-left: 5em;
  margin-top: 2ex;
  margin-bottom: 1em;
}
ul#sitemap {
  font-size: 11px;
}
